html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100vh;
   position:relative;
}
#header {
   background:none;
   padding:0px;
}
#body {
   padding-bottom: 5.5rem;
    /* Minimum height of the body */
}
#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 5.5rem; 
   background-color: black;
}